pyfzf
mysql-connector-python
-e git+https://github.com/lazmond3/pylib-debug.git@master#egg=lazmond3-pylib-debug # public package
-e git+https://github.com/lazmond3/pylib-clipboard.git@master#egg=lazmond3-pylib-clipboard # public package